<!DOCTYPE html>
{% extends 'newsletter/base.html' %}
<!-- load crispy -->
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
{% if title %}
<div class="row">
    <div class="col-sm-12 {% if text_centered %}text-center{% endif %}">
        <h1>{{ title }}</h1>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <p>{{ template_title }}</p>
        <form method="POST" action="">{% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Submit" />
            <!--its safer to use context-->
        </form>
    </div>
</div>
{% endblock %}